{% extends parent_template|default:"local_devices/base_local_devices.html" %}
{% block title %}List of Devices{% endblock title %}
{% block content %}
<h3 class="text-info">The list of your devices:</h1>
  {% for local_device in  local_device_list %}
  <!--{{ local_device.get_device_details }} -->
    <ul class="list-group">
      <a href="{{ local_device.get_absolute_url }}">
        <li class="list-group-item list-group-item-info">
          <h5 class="text-info">{{ local_device.device.manufacturer }} {{ local_device.device.name }}
          ( {{ local_device.mac_address }} )</h5>
        </li>
      </a>  
      <br>
    </ul>
  {% empty %}
    <li class="list-group-item list-group-item-info"><em> There are no devices... </em></li>
{% endfor %}
{% endblock content %}