{% extends parent_template|default:"local_devices/base_local_devices.html" %}
{% block title %}Details for {{ device.manufacturer }} {{ device.name }}{% endblock title %}
{% block content %}
<h3 class="text-info">The details of the {{ device.manufacturer }} {{ device.name }} device:</h3>
<div class="container">
  <table class="table table-striped table-dark">
    <tbody>
      <tr>
        <th class="text-info" scope="row">MAC Address</th>
        <td class="text-success"> {{ local_device.mac_address }}</td>
      </tr>
      <tr>
        <th class="text-info" scope="row">Manufacturer</th>
        <td class="text-success"> {{ device.manufacturer }}</td>
      </tr>
       <tr>
        <th class="text-info" scope="row">Model</th>
        <td class="text-success"> {{ device.name }}</td>
      </tr>
      <tr>
        <th class="text-info" scope="row">Website</th>
        <td> <a class="text-success" href="{{ device.website }}" target="_blank">{{ device.website }}</a></td>
      </tr>
       <tr>
        <th class="text-info" scope="row">Selected Policy</th>
        <td class="text-success"> {{ local_device.selected_policy }}</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <br>
  <h4 class="text-info">
    <a href="{% url 'device_policy_list' local_device.pk %}">
      View the list of the available policies for this device.
    </a>
  </h4>
  <br>
  {% for policy in  policies %}
    <ul class="list-group">
    <h5>
      <li class="list-group-item list-group-item-info">
        Policy {{ policy.pk }}&nbsp;
        <a href="{% url 'device_policy_detail' local_device.pk policy.pk %}" class="btn btn-info">Show</a>
      </li>
    </h5>
    <br>
    </ul>
  {% empty %}
    <li class="list-group-item list-group-item-info" class="text-info">
      <em> There are no policies for this device... </em>
    </li>
{% endfor %}
  <hr>
  <br>
  <h4 class="text-info">
    <a href="{% url 'device_select_policy' local_device.pk %}">
      Select a policy for this device.
    </a>
  </h4>
{% endblock content %}