{% extends parent_template|default:"local_devices/base_local_devices.html" %}
{% block title %} Policy {{ policy.pk }} - {{ device.manufacturer }} {{ device.name }}{% endblock title %}
{% block content %}

<header class="text-info">
    <h5>Policy ID {{ policy.pk }}</h5>
</header>
    <table class="table table-striped table-dark">
      <tbody>
        <tr>
          <th class="text-info" scope="row">Permitted Destination IP Addresses</th>
          <td class="text-success"> {{ policy.perm_dest_ips }}</td>
        </tr>
        <tr>
          <th class="text-info" scope="row">Permitted Destination Ports</th>
          <td class="text-success">  {{ policy.perm_dest_ports }}</td>
        </tr>
        <tr>
          <th class="text-info" scope="row">Max Size Packet</th>
          <td class="text-success"> {{ policy.max_size_packet }}</td>
        </tr>
        <tr>
          <th class="text-info" scope="row">Max Data Rate</th>
          <td class="text-success">{{ policy.max_data_rate }}</td>
        </tr>
        <tr>
          <th class="text-info" scope="row">Starting Time</th>
          <td class="text-success"> {{ policy.starting_time }}</td>
        </tr>
        <tr>
          <th class="text-info" scope="row">Ending Time</th>
          <td class="text-success"> {{ policy.ending_time }}</td>
        </tr>
        <tr>
          <th class="text-info" scope="row">Restriction Level</th>
          <td class="text-success">{{ policy.restriction_level }}</td>
        </tr>
      </tbody>
    </table>
{% endblock content %}