{% extends parent_template|default:"local_devices/base_local_devices.html" %}
{% block title %}
  {{ device.manufacturer|title }} {{ device.name|title }} - Select Policy
{% endblock title %}
{% block content %}
{% if policies %}
  <h3 class="text-info">
    <u>Select a policy for the {{ device.manufacturer }} {{ device.name }} device.</u>
  </h3>
  <br>
  <form class="text-primary" action="{% url 'device_select_policy' device.pk %}" method="post">
    <div class="form-group">  
    {% csrf_token %}
    {% for policy in policies %}
      <label for="policy{{ forloop.counter }}" class="text-info"><h5>Policy Option {{ policy.id }}&nbsp;</h5></label>
      <input type="radio" name="selected_policy" id="policy{{ forloop.counter }}" value="{{ policy.pk }}" required>
      <br>
    {% endfor %}
    <br>
    <input class="btn btn-success" type="submit" value="Select Policy">
  </div>
  </form>
{% endif %}
{% endblock content %}