{% extends parent_template|default:"local_devices/base_local_devices.html" %}
{% block title %}
  {{ device.manufacturer|title }} {{ device.name|title }} Policies
{% endblock title %}
{% block content %}
<h3 class="text-info">
  Available Policies for the {{ device.manufacturer }} {{ device.name }} device.
  <hr>
</h3>
  {% for policy in  policies %}
    <header class="text-info">
      <h5>Policy ID {{ policy.pk }}</h5>
    </header>
    <table class="table table-striped table-dark">
      <tbody>
        <tr>
          <th class="text-info" scope="row">Permitted Destination IP Addresses</th>
          <td class="text-success"> {{ policy.perm_dest_ips }}</td>
        </tr>
        <tr>
          <th class="text-info" scope="row">Permitted Destination Ports</th>
          <td class="text-success">  {{ policy.perm_dest_ports }}</td>
        </tr>
        <tr>
          <th class="text-info" scope="row">Max Size Packet</th>
          <td class="text-success"> {{ policy.max_size_packet }}</td>
        </tr>
        <tr>
          <th class="text-info" scope="row">Max Data Rate</th>
          <td class="text-success">{{ policy.max_data_rate }}</td>
        </tr>
        <tr>
          <th class="text-info" scope="row">Starting Time</th>
          <td class="text-success"> {{ policy.starting_time }}</td>
        </tr>
        <tr>
          <th class="text-info" scope="row">Ending Time</th>
          <td class="text-success"> {{ policy.ending_time }}</td>
        </tr>
        <tr>
          <th class="text-info" scope="row">Restriction Level</th>
          <td class="text-success">{{ policy.restriction_level }}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <br>
  {% empty %}
    <li class="list-group-item list-group-item-info"><em> There are no available policies... </em></li>
{% endfor %}
{% endblock content %}