{% extends "base.html" %}
{% block content %}
<h2>{{ device.manufacturer}} {{ device.name }}</h2>
<br>
<p>
  <h3 class="text-info">The device {{ device.manufacturer }} {{ device.name }} with MAC Address {{ local_device.mac_address}} was connected to your local network. <br> You can go to the following link to select the policy you wish for this device from a number of policies provided by the manufacturer.</h3> </p>
<p>
  <h3><a href="http://{{ local_ip }}:7000/devices/{{ device.pk }}/select_policy/">
    Select Policy For {{ device.manufacturer }} {{ device.name}}<h3>
  </a>
</p>
{% endblock content %}