{% extends parent_template|default:"base.html" %}
{% block title %}Homepage{% endblock title %}
{% block content %}
<div align="center">  
  <h3 class="text-info">
    Welcome to the managing page of your local IoT devices!
  </h3>
</div>
{% endblock content %}